body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #f5f5f5; /* Gris claro para el fondo */
}

.text-wrapper {
    border: 10px solid #35495e; /* Borde gris oscuro */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1); /* Sombra suave */
    background-color: #ffffff; /* Fondo blanco para el contenido */
    padding: 20px; /* Espacio interno */
}

#ongi-etorri p {
    color: #35495e; /* Texto en gris oscuro */
    font-weight: bold;
}

#ongi-etorri h1 {
    color: #2c3e50; /* Titulo en azul grisáceo */
}

#scrollspyHeading1 {
    background-color: #3498db; /* Azul para los encabezados */
    color: white;
}
                                                                                                
}

#scrollspyHeading1{

    background-color: #2a9d8f;
}
